<div class="shipments-list">
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <caption> Resultados lista envios </caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codigo envío</th>
            <th scope="col">Description</th>
            <th scope="col">Nota</th>
            <th scope="col">Dirección origen</th>
            <th scope="col">Direccion destino</th>
            <th scope="col">Peso</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha entrega</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody class="shipments">
          <tr *ngFor="let item of listShipments | async">
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.note}}</td>
            <td>{{item.originAddress}}</td>
            <td>{{item.destinationAddress}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.price | currency}}</td>
            <td>{{item.deliveryDate | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div class="options">
                <button type="button" class="btn btn-primary btn-sm" (click)="deleteShipments(item.id)">Eliminar</button>
              </div>
              <div class="options">
                <button type="button" class="btn btn-primary btn-sm" (click)="showStatusModal(item)">Editar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div [class.show]="showModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar estado del envío</h5>
        <button (click)="showModal=false" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <select [formControl]="status" class="form-control" id="selectStatus">
            <option [value]="null">Seleccionar...</option>
            <option [ngValue]="itemStatus" *ngFor="let itemStatus of listStatus | async">{{itemStatus.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="update()">Guardar</button>
        <button (click)="showModal=false" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
