<div class="shipments-list">
  <div class="container">
    <table class="table">
      <caption> Resultados lista envios </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Codigo envío</th>
          <th scope="col">Description</th>
          <th scope="col">Nota</th>
          <th scope="col">Dirección origen</th>
          <th scope="col">Direccion destino</th>
          <th scope="col">Peso</th>
          <th scope="col">Precio</th>
          <th scope="col">Fecha entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listShipments" >
          <td scope="row">{{item.id}}</td>
          <td>{{item.description}}</td>
          <td>{{item.note}}</td>
          <td>{{item.originAddress}}</td>
          <td>{{item.destinationAddress}}</td>
          <td>{{item.weight}}</td>
          <td>{{item.price}}</td>
          <td>{{item.deliveryDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

