<div class="status-create">
  <div class="container">
    <h2>Crear estado</h2>
    <form [formGroup]="statuForm" (ngSubmit)="create()">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input
          id="idStatusName"
          class="form-control"
          type="text"
          placeholder="Bodega medellín..."
          formControlName="name"
        />
        <div
          class="error-message"
          *ngIf="
            statuForm.controls.name.errors &&
            !statuForm.controls.name.valid &&
            (statuForm.controls.name.touched || submitted)
          "
        >
          <span>This field is required</span>
        </div>
      </div>
      <button id="buttonStatusCreate" type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>
