<!-- <div class="login">
  <form  >
      <div class="contenedor">
          <div class="row">
              <div class="title">
                  <span>Crear Usuarios</span>
              </div>
          </div>
          <div class="row">
              <div class="campo">
                  <input type="text" formControlName="name" value="" placeholder="Nombre">
              </div>
          </div>
          <div class="row">
              <div class="campo">
                  <input type="text" formControlName="job" value="" placeholder="Trabajo">
              </div>
          </div>
          <div class="row">
              <div class="action">
                  <button >Entrar</button> -->
                  <!-- (click)="create()" -->
              <!-- </div>
          </div>
      </div>
  </form>
</div> -->

<h1>HOLA</h1>
