<div class="status-list">
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <caption> Resultados lista estados </caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Codigo estado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody class="status">
          <tr *ngFor="let item of listStatus" >
            <th scope="row">{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>
              <div class="options">
                <button type="button" class="btn btn-primary btn-sm" (click)="deleteStatus(item.id)">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


