.market-representative-rate {
  .container{
    margin-top: 50px;
  }
  .card-body {
    .trm {
    display: flex;
    flex-direction: column;
    align-items: center;
      b{
      font-size: xxx-large;
      margin-bottom: 20px;
      }
    }
    button {
      margin: 5px;
    }
  }
}
